# Module 3 notebook - pandas

## Introduction

This workbook contains my results for the assignment as specified below. I'll start, however, with a few pandas exercises from the DataCamp source:

- [chapter 1 from _Manipulating DataFrames with pandas_](http://bit.ly/2ftzLk0)

In [2]:
# Import numpy
import numpy as np

# Create array of DataFrame values: np_vals
np_vals = df.values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = np.log10(df)

# Print original and new data containers
print(type(np_vals), type(np_vals_log10))
print(type(df), type(df_log10))

NameError: name 'df' is not defined

In [3]:
# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(list_keys, list_values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

NameError: name 'list_keys' is not defined

In [4]:
# Build a list of labels: list_labels
list_labels = ['year', 'artist', 'song', 'chart weeks']

# Assign the list of labels to the columns attribute: df.columns
df.columns = list_labels

NameError: name 'df' is not defined

In [5]:

# Make a string with the value 'PA': state
state = 'PA'

# Construct a dictionary: data
data = {'state':state, 'city':cities}

# Construct a DataFrame from dictionary data: df
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

NameError: name 'cities' is not defined

In [6]:
# Read in the file: df1
df1 = pd.read_csv('world_population.csv')

# Create a list of the new column labels: new_labels
new_labels = ['year', 'population']

# Read in the file, specifying the header and names parameters: df2
df2 = pd.read_csv('world_population.csv', header=0, names=new_labels)

# Print both the DataFrames
print(df1)
print(df2)

NameError: name 'pd' is not defined

In [7]:
# Read the raw file as-is: df1
df1 = pd.read_csv(file_messy)

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(file_messy, delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('file_clean.xlsx', index=False)

NameError: name 'pd' is not defined

In [8]:
# Create a plot with color='red'
df.plot(color='red')

# Add a title
plt.title(('Temperature in Austin'))

# Specify the x-axis label
plt.xlabel ('Hours since midnight August 1, 2010')

# Specify the y-axis label
plt.ylabel('Temperature (degrees F)')

# Display the plot
plt.show()

NameError: name 'df' is not defined

In [9]:
# Plot all columns (default)
df.plot()
plt.show()

# Plot all columns as subplots
df.plot(subplots=True)
plt.show()

# Plot just the Dew Point data
column_list1 = ['Dew Point (deg F)']
df[column_list1].plot()
plt.show()

# Plot the Dew Point and Temperature data, but not the Pressure data
column_list2 = ['Temperature (deg F)','Dew Point (deg F)']
df[column_list2].plot()
plt.show()

NameError: name 'df' is not defined

## Assignment - Using pandas on my home brew data set

### Introduction

This assignment is an analysis exercise. It is not as much about the meaning of the analysis you will conduct as it is on the demonstration of common functionality you will use when doing data analysis with pandas. So first an for all it is a demonstration of your pandas skills.

### Step 1: data set construction

Construct an artificial dataset using either Excel, Google Sheets or numpy. Your constructed dataset has at least:

1. 100 rows (measurements/events)
1. 4 columns (variables)
1. one date column with random daily dates in a period of at least 6 months
1. 2 columns containing categorical variables
1. 2 columns containing numerical variables

You can use Excel's
- rand()
- randbetween()
- norm.inv()
- date()
- vlookup()

functions (or Google Sheets' equivalents) to construct your data set. If you use numpy. you can use the versatile random functions in it. If you wish you can polish your dataset by changing some randomly generated values by hand.

Make up a story around your data. In other words: give your data meaning by explaining what your data represents. Being creative in making up your story helps you in improving the joy of doing this exercise! Even better: fabricate some compelling facts in your data that you will extract in your analysis of it.

### Step 2: doing the analysis in pandas

Conduct an analysis on your data set. Demonstrate your skills in using the following pandas functionality

- creating indexes and multiply indices
- stacking and unstacking indices
- indexing and slicing using loc() and iloc()
- using pivot table functionality
- using grouping functionality both on categorical variables as on datetime variables
- using basic statistical functions as count, mean, average and min/max
- plotting (parts of) your data using pandas plotting functionality and seaborn

Also, use an alternative SQL approach for one of your analysis steps. Just show that you are capable of leveraging your SQL skills in pandas.

Annotate your analysis using markdown cells in your notebook. Briefly introduce each step in your analysis you take and lead your reader through your analysis. Here you have to apply your creativity to make up a sensible, interesting story for your user.

Tip: consult the [Python Data Science Handbook](http://bit.ly/2ftE137). It has an excellent chapter on pandas with examples for all techniques you are asked to demonstrate.

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

file = 'Football_randomData.xlsx'
data = pd.read_excel(file, sheetname='Sheet1')
print(data)
df = pd.DataFrame({'Football clubs': [1., 2., 3.]})

     Matchdays            Football clubs Country for training camp  Duration
NaN 2015-04-12  Borussia Mönchengladbach                       USA         4
NaN 1990-08-27         FC Bayern München                   Germany         8
NaN 1986-05-26                RB Leipzig                   Austria         2
NaN 1991-09-03         FC Bayern München                 Argentina         1
NaN 2014-10-13                RB Leipzig                     Dubai         2
NaN 2012-05-28  Borussia Mönchengladbach                    Mexico         7
NaN 2000-09-02                RB Leipzig                   Germany        13
NaN 2003-09-17         Borussia Dortmund                       USA        16
NaN 2007-07-06         Borussia Dortmund                     Spain        17
NaN 1992-04-13         Borussia Dortmund                       USA         8
NaN 2009-09-17         FC Bayern München                   Germany         6
NaN 2007-12-07         FC Bayern München                 Argentina         5
NaN 1992-05-29         Borussia Dortmund                     Spain        16
NaN 2000-05-31         FC Bayern München                   Austria        20
NaN 2002-04-06         Borussia Dortmund                    Brasil         8
NaN 2010-02-03         Borussia Dortmund                    Turkey         6
NaN 1992-01-29                RB Leipzig                   Germany         5
NaN 1999-12-13           1899 Hoffenheim                    Norway        15
NaN 2017-03-22         Borussia Dortmund                     Spain         4
NaN 1985-10-31         FC Bayern München                   Austria        17
NaN 2015-11-10  Borussia Mönchengladbach                    Mexico        19
NaN 2016-09-17  Borussia Mönchengladbach                    Mexico        19
NaN 1985-04-30         FC Bayern München                  Portugal        15
NaN 2001-06-06                RB Leipzig                   Germany         8
NaN 2008-10-10         FC Bayern München                 Argentina        13
NaN 1993-12-28         Borussia Dortmund                    Turkey         9
NaN 1984-09-17                RB Leipzig                     Dubai        15
NaN 1998-12-16  Borussia Mönchengladbach                    Russia         4
NaN 2005-12-04           1899 Hoffenheim                   Austria        20
NaN 2004-12-20         FC Bayern München                   Austria         0
..         ...                       ...                       ...       ...
NaN 2016-05-11           1899 Hoffenheim                   Austria        10
NaN 1994-04-22           1899 Hoffenheim                  Portugal         0
NaN 1991-02-16         FC Bayern München                   Austria        19
NaN 1992-07-28         FC Bayern München                  Portugal         1
NaN 1982-10-12                RB Leipzig                     Spain         8
NaN 1994-09-02         Borussia Dortmund                     Spain         7
NaN 2007-06-30  Borussia Mönchengladbach                    Russia        12
NaN 2011-08-25  Borussia Mönchengladbach                    Russia         3
NaN 1983-07-08         FC Bayern München                 Argentina        14
NaN 2009-01-11  Borussia Mönchengladbach               Switzerland        19
NaN 1988-11-24         Borussia Dortmund                     Spain        16
NaN 2017-03-17         FC Bayern München                   Germany         8
NaN 2012-05-02         FC Bayern München                   Germany         3
NaN 2016-11-11         FC Bayern München                   Austria         5
NaN 1995-06-21         FC Bayern München                   Austria        15
NaN 1982-07-28                RB Leipzig                   Austria         9
NaN 2006-10-16           1899 Hoffenheim                    Norway         7
NaN 2012-11-26           1899 Hoffenheim                   Austria         0
NaN 1993-02-03  Borussia Mönchengladbach                    Mexico        20
NaN 2006-11-01  Borussia Mönchengladbach                    Russia         1
NaN 2010-05-23         FC Bayern München                  Portugal         9
NaN 1987-05-26         Borussia Dortmund                     Spain         0
NaN 2015-12-24           1899 Hoffenheim                    Norway         2
NaN 2004-03-10  Borussia Mönchengladbach                    Mexico        19
NaN 2017-04-03                RB Leipzig                   Germany         7
NaN 1981-03-30         Borussia Dortmund                     Spain         2
NaN 2012-09-29  Borussia Mönchengladbach                    Russia         8
NaN 1989-05-07         Borussia Dortmund                    Brasil         9
NaN 1984-12-27                RB Leipzig                     Spain        12
NaN 2017-10-15  Borussia Mönchengladbach                    Russia        10

[100 rows x 4 columns]